extends layout
block content
  center
    h2 Confirm Invoice
  br
  table.table.table-bordered
    thead.thead(style='background-color: #101082; color: white;')
      tr
        th(scope='col') #
        th(scope='col') Voucher No
        th(scope='col') No of Transactions
        th(scope='col') Total Amount
        th(scope='col') Confirm By
        th(scope='col') Confirm Date
        th(scope='col') Payment Method
        th(scope='col') Loan Term
        th(scope='col') Invoice Document
        th(scope='col') Confirm Invoice
        th(scope='col') Reject Invoice

    - for(var x=0;x<invoice.length;x++)
      - if(invoice[x].Stage==0)
        tr
          td #{x+1}
          td #{invoice[x].VoucherNo}
          td #{invoice[x].NoofTransactions}
          td #{invoice[x].TotalAmount}
          td #{invoice[x].ConfirmBy}
          td #{invoice[x].ConfirmDate}
          td #{invoice[x].PaymentMethod}
          td #{invoice[x].LoanTerm}
          td
            a(href='/uploads/invoices/'+invoice[x].InvoiceDocument) #{invoice[x].InvoiceDocument}
          td
            center
              a.btn.btn-primary.confirm-invoice(href='#',data-id=invoice[x]._id) Confirm
          td
            center
              a.btn.btn-danger.reject-invoice(href='#',data-id=invoice[x]._id) Reject