extends layout
block content
  h2 #{title}
  form(method='POST', action='/companys/edit/'+company._id)
    h3 Company Information
    #form-group
      label Company Code:
      input.form-control(name='CompanyCode', type='text' value=company.CompanyCode)
      label Company Group:
      input.form-control(name='CompanyGroup', type='text' value=company.CompanyGroup)
      label TaxID:
      input.form-control(name='TaxID', type='text' value=company.TaxID)
      label Name Thai:
      input.form-control(name='NameThai', type='text' value=company.NameThai)
      label Name English:
      input.form-control(name='NameEnglish', type='text' value=company.NameEnglish)
      label Business Type:
      input.form-control(name='BusinessType', type='text' value=company.BusinessType)
    br
    h3 Company Location
    #form-group
      label Address:
      input.form-control(name='Address', type='text' value=company.Address)
      label Building:
      input.form-control(name='Building', type='text' value=company.Building)
      label Soi:
      input.form-control(name='Soi', type='text' value=company.Soi)
      label Street:
      input.form-control(name='Street', type='text' value=company.Street)
      label Tumbol:
      input.form-control(name='Tumbol', type='text' value=company.Tumbol)
      label District:
      input.form-control(name='District', type='text' value=company.District)
      label Province:
      input.form-control(name='Province', type='text' value=company.Province)
      label Zip Code:
      input.form-control(name='ZipCode', type='text' value=company.ZipCode)
    br
    h3 Upload Company Document
    #form-group
      label(for='file') Example file input
      input#file.form-control-file(type='file' name='CompanyDocument' value=company.CompanyDocument)
    br
    input.btn.btn-primary(type='submit',value='Submit')
    a.btn.btn-secondary(href='../', role='button') Cancel